<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.min.css" media="all" />
    <style>
     body{
       padding-top:70px;
     }
     div.navbar-inner img {
    
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;

      }
      /*div.navbar {
        margin-left: 15px;
        margin-right: 15px;
       }*/ 
      div.navcollapse {
        margin-top: 20px;
      } 
     </style>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner"> 
	<div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      
    <a href="/index.html"><img src="/images/ollie-med.png" class="pull-left"></a> 
      <div class="nav-collapse collapse pull-right" >
        <ul class="nav">
    <li> <a href="/blog.html" alt="The Experi.org Blog">Blog</a> </li>
    <li><a href="/about.html" alt="About Experi.org's mission">About</a> </li>
    <li> <a href="/donate.html" alt="How to donate and contribute to Experi.org">Donate</a>  </li>
    <li><a href="/library.html" alt="Useful information to know when experimenting with organisations">Library</a> </li> 
        </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="container span8 offset2">
  {{content}}
  </div>
  </body>
  
</html>
