<!DOCTYPE html>

<html>
  <head>

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.min.css" media="all" />
	<title>{{page.title}} </title>
    <style>
     body{
       padding-top:110px;
     }
     div.navbar-inner img {
    
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;

      }
      /*div.navbar {
        margin-left: 15px;
        margin-right: 15px;
       }*/ 
      div.navcollapse {
        margin-top: 20px;
      } 
     </style>
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner"> 
	<div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      
    <a href="/index.html"><img src="/images/ollie-med.png" class="pull-left"></a> 
      <div class="nav-collapse collapse pull-right" >
        <ul class="nav">
    <li> <a href="/blog.html" alt="The Experi.org Blog">Blog</a> </li>
    <li><a href="/people.html" alt="About Experi.org's mission">People</a> </li>
    <li> <a href="/contribute.html" alt="How to donate and contribute to Experi.org">Be part of it</a>  </li>
    <li><a href="/library/index.html" alt="Useful information to know when experimenting with organisations">Library</a> </li> 
        </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="container span8 offset2">
  {{content}}
  </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <script src="/lib/bootstrap/js/bootstrap.js"></script> 
<script>
$(function () {
$('#questions a:first').tab('show');
})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40419202-1', 'experi.org');
  ga('send', 'pageview');

</script>
</html>
